@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Rory Aherne
</address>

<address>
    <strong>Support:</strong> <a href="roryaherne@gmail.com">roryaherne@gmail.com</a><br />
</address>
