@page
@model ClubTreasurer.Pages.Transactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BankTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BankTransaction.Amount" class="control-label"></label>
                <input asp-for="BankTransaction.Amount" class="form-control" />
                <span asp-validation-for="BankTransaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankTransaction.Reference" class="control-label"></label>
                <input asp-for="BankTransaction.Reference" class="form-control" />
                <span asp-validation-for="BankTransaction.Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankTransaction.ID" class="control-label"></label>
                <input asp-for="BankTransaction.ID" class="form-control" />
                <span asp-validation-for="BankTransaction.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankTransaction.TransactionCategoryId" class="control-label"></label>
                <select asp-for="BankTransaction.TransactionCategoryId" class ="form-control" asp-items="ViewBag.TransactionCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BankTransaction.AccountId" class="control-label"></label>
                <select asp-for="BankTransaction.AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BankTransaction.Created" class="control-label"></label>
                <input asp-for="BankTransaction.Created" class="form-control" />
                <span asp-validation-for="BankTransaction.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankTransaction.LastModified" class="control-label"></label>
                <input asp-for="BankTransaction.LastModified" class="form-control" />
                <span asp-validation-for="BankTransaction.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankTransaction.LastModifiedById" class="control-label"></label>
                <select asp-for="BankTransaction.LastModifiedById" class ="form-control" asp-items="ViewBag.LastModifiedById"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
