#IdCard {
    width: 505px;
    height: 320px;
    position: relative;
    margin-bottom: 1rem;
}

    #IdCard .heading {
        position: absolute;
        top: 10px;
        text-align: center;
        width: 100%;
        font-size: 30px;
    }

    #IdCard .duration {
        position: absolute;
        top: 40px;
        text-align: center;
        width: 100%;
        font-size: 30px;
    }

    #IdCard img.player-image {
        width: 140px;
        height: 190px;
        position: absolute;
        top: 94px;
        left: 11px;
    }

    #IdCard .stats {
        position: absolute;
        left: 170px;
        font-size: 20px;
    }

        #IdCard .stats .prefix {
            min-width: 70px;
            display: inline-block;
            font-weight: 800;
        }

    #IdCard .name {
        top: 90px;
    }

    #IdCard img.logo {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    #IdCard .birthdate {
        top: 129px;
    }

    #IdCard .position {
        top: 170px;
    }
