@page
@model ClubTreasurer.Pages.BankAccounts.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>BankAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankAccount.ID" />
            <div class="form-group">
                <label asp-for="BankAccount.ID" class="control-label"></label>
                <input asp-for="BankAccount.ID" class="form-control" />
                <span asp-validation-for="BankAccount.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.Name" class="control-label"></label>
                <input asp-for="BankAccount.Name" class="form-control" />
                <span asp-validation-for="BankAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.PersonId" class="control-label"></label>
                <select asp-for="BankAccount.PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="BankAccount.PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.Created" class="control-label"></label>
                <input asp-for="BankAccount.Created" class="form-control" />
                <span asp-validation-for="BankAccount.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.LastModified" class="control-label"></label>
                <input asp-for="BankAccount.LastModified" class="form-control" />
                <span asp-validation-for="BankAccount.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount.LastModifiedById" class="control-label"></label>
                <select asp-for="BankAccount.LastModifiedById" class="form-control" asp-items="ViewBag.LastModifiedById"></select>
                <span asp-validation-for="BankAccount.LastModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
