@page
@model ClubTreasurer.Pages.Players.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Model.Player.FullName</h4>
@if (@Model.Player.Image != null)
{
    <img src="@ViewBag.ImageUrl" alt="Player Image" class="player-image" width="150" />
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Player.FirstName" class="control-label"></label>
                <input asp-for="Player.FirstName" class="form-control" />
                <span asp-validation-for="Player.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.LastName" class="control-label"></label>
                <input asp-for="Player.LastName" class="form-control" />
                <span asp-validation-for="Player.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Email" class="control-label"></label>
                <input asp-for="Player.Email" class="form-control" />
                <span asp-validation-for="Player.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Player.PositionId" class="control-label"></label>
                <select asp-for="Player.PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                <span asp-validation-for="Player.PositionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Player.DOB" class="control-label"></label>
                <input asp-for="Player.DOB" class="form-control" />
                <span asp-validation-for="Player.DOB" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewImage" class="control-label"></label>
                <input asp-for="NewImage" class="form-control" type="file" />
            </div>

            <input type="hidden" asp-for="Player.ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
